AWS_ACCESS_KEY_ID=YOUR-KEY
AWS_SECRET_ACCESS_KEY=YOUR-KEY
LANGSMITH_API_KEY=YOUR-KEY

KNOWLEDGE_BASE_ID=YOUR-KB-ID
AWS_REGION=us-east-1
LLM_WRITER=us.amazon.nova-2-lite-v1:0
LLM_CATEGORIZER=us.amazon.nova-micro-v1:0